
.drop-button {
  outline: 0;
  background-color: #2196f3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop-button:hover, .drop-button:focus {
  background-color: #2980B9;
}
