
.dot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--palette-yellow-500);
}

.image-container {
  position: relative;
}

.created-date {
  position: absolute;
  left: 8px;
  bottom: 4px;
}

.image {
  margin: 2px;
  /* ray test touch < */
  padding: 2px;
  /* ray test touch > */
  width: 162px;
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--palette-pink-300);
}

/* ray test touch < */
.image img {
  object-fit: cover;
  /* MEMO: override */
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
/* ray test touch > */

@media screen and (min-width: 600px) {
  .dot {
    top: 16px;
    right: 16px;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .created-date {
    left: 12px;
    bottom: 8px;
  }
}
