
.gif-generation {
  display: flex;
  align-items: center;
}

.gif-generation > * {
  margin-right: 12px;
}

.gif-generation > *:last-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  .gif-generation > * {
    margin-right: 14px;
  }
}
