
.log-in-fab {
  background-image: url('/assets/images/person.svg');
  background-color: var(--palette-teal-500);
}

.log-in-fab:hover:not(:disabled) {
  background-color: var(--palette-teal-700); 
}
