
.camera-screen > div > #container-circles {
  position: fixed;
  bottom: 90px;
  z-index: 500;
  cursor: pointer;
}

.camera-screen.disabled-capture-button > div > #container-circles {
  pointer-events: none;
}

/* MEMO: override lib style */
.react-html5-camera-photo-fullscreen > video {
  object-fit: cover;
}
.react-html5-camera-photo-fullscreen {
  display: flex;
}
