
:root {
  --palette-bg-default: #303030;
  --palette-bg-paper: #424242;
  --palette-common-black: #000;
  --palette-common-white: #FFF;
  --palette-text-primary: #FFF;
  --palette-text-secondary: rgba(255, 255, 255, 0.7);
  --palette-grey-500: #212121;
  --palette-grey-300: ##e0e0e0;
  --palette-grey-900: #171717;
  --shadows-4: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  --typography-font-family: 'Roboto', 'Helvetica','Arial', sans-serif;
  --typography-body1-font-size: 1rem;
  --typography-body1-line-height: 1.5;
  --typography-body1-letter-spacing: 0.00938em;
  --typography-body2-font-size: 0.875rem;
  --typography-body2-line-height: 1.43;
  --typography-body2-letter-spacing: 0.01071em;
  --typography-button-font-size: 0.875rem;
  --typography-button-line-height: 1.75;
  --typography-button-letter-spacing: 0.02857em;
  --typography-font-weight-light: 300;
  --typography-font-weight-regular: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-bold: 700;
  --typography-h5-font-size: 1.5rem;
  --typography-h5-line-height: 1.334;
  --typography-h5-letter-spacing: 0em;
  --palette-pink-500: #e91e63;
  --palette-purple-500: #9c27b0;
  --palette-green-500: #4caf50;
  --palette-blue-500: #2196f3;
  --palette-pink-300: #f06292;
  --palette-yellow-500: #ffeb3b;
  --palette-pink-700: #c2185b;
  --palette-blue-700: #1976d2;
  --palette-green-700: #388e3c;
  --palette-teal-500: #009688;
  --palette-teal-700: #00796b;
  --palette-background-paper: #424242;
  --palette-action-disabled-background: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

img, video {
  border: 0;
  max-width: 100%;
}

body,
div,
dl,
dd,
form,
img,
input,
figure,
menu {
  margin: 0;
  padding: 0;
}

/* TODO: block for now */
/* li, li p {
  margin: 8px 0;
  padding: 0;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--palette-text-primary);
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-body2-font-size);
  line-height: var(--typography-body2-line-height);
  letter-spacing: var(--typography-body2-letter-spacing);
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--palette-background-paper);
}

@media screen and (min-width: 600px) {
  body {
    font-size: var(--typography-body1-font-size);
    line-height: var(--typography-body1-line-height);
    letter-spacing: var(--typography-body1-letter-spacing);  
  }
}

div#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: var(--typography-font-weight-regular);
  color: var(--palette-text-secondary);
  text-decoration: none;
}

p {
  margin: 0 auto 1em auto;
  text-align: justify;
}

.font-weight-bold {
  font-weight: var(--typography-font-weight-bold) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typography-body1 {
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-body1-font-size);
  line-height: var(--typography-body1-line-height);
  letter-spacing: var(--typography-body1-letter-spacing);
}

.typography-body2 {
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-body1-font-size);
  line-height: var(--typography-body1-line-height);
  letter-spacing: var(--typography-body1-letter-spacing);
}

.typography-button {
  font-weight: var(--typography-font-weight-medium);
  font-size: var(--typography-button-font-size);
  line-height: var(--typography-button-line-height);
  letter-spacing: var(--typography-button-letter-spacing);
}

.typography-h5 {
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-h5-font-size);
  line-height: var(--typography-h5-line-height);
  letter-spacing: var(--typography-h5-letter-spacing);
}
